{
	"version": 2,
	"remoteDnsServers": [],
	"envs": [
		{
			"name": ""
		}
	],
	"activeEnv": "",
	"webServerPort": 0,
	"dnsServerPort": 0,
	"defaultDns": null,
	"logLevel": "",
	"logFile": "",
	"registerContainerNames": true,
	"hostMachineHostname": "",
	"domain": "docker",
	"dpsNetwork": false,
	"dpsNetworkAutoConnect": false
}
